<h1>Welcome to Alkemy Disney API, <%= @user.username %></h1>
  <p>
    You have successfully signed up to Alkemy Disney API,
    your username is: <%= @user.username %>.<br>
  </p>
  <p>You can now access to all endpoits</p>
<p>Thanks for joining and have a great day!</p>